<div id="question-wrapper">
  <h1> <%= @question.title %> </h1>
  <span class="vote-count">Votes: <%= @question.total_votes %></span>
  <p> Question: <%= @question.content %> </p>
</div>
<h3>Comments</h3>
<div class="comments-container">
  <%if @comments%>
    <ul>
      <% @comments.each do |comment| %>
      <li>
      <span class="vote-count">Votes: <%= comment.total_votes %></span>
       - <span class="comment"><%= comment.body%></span>
      </li>
      <% end %>
    </ul>
  <% end %><br>
  <%=erb(:'/comments/_new') %>
</div>

<div><%=erb(:'/answers/_new') %></div>

<ul>
  <% @question.answers.each do |answer| %>
    <li>
      <span class="vote-count">Votes: <%= answer.total_votes %></span>
      <span class="answer">Answer: <%= answer.response %><br>
        <% if answer.comments %>
        <h5>Comments</h5>
        <div class="answer-comments">
          <%answer.comments.each do |comment|%><br>
            <span class="vote-count">Votes: <%= comment.total_votes %></span>
            <span class="comment nested">
              - <%= comment.body %>
            </span>
          <%end%>
        </div>
        <% end %>

      <form method="get" action="/answers/<%=answer.id %>/comments/new" class="comment-button">
        <input class="no-js-button" type="submit" value="comment">
      </form>
      <br>

    </li>
  <% end %>
</ul>



