<article id="answer<%= answer.id %>" class="answer-wrapper">
  <table>
    <tr class="answer-row">
      <td class="vote-cell-wrapper">
      <% if logged_in? %>
        <%@votable = answer%>
        <%=erb(:'votes/_show')%>
      <% else %>
        <span class="vote-count" ><%= answer.total_votes %></span>
      <%end%>
      </td>
      <td class="answer-cell-wrapper"> 
        <span class="answer"><p><%= answer.response %></p>
          <a href='/users/<%= answer.answerer.id %>'><%= answer.answerer.name %></a>
        </span>
      </td>
    </tr>
  </table>
</article>
